---
import { Debug } from "astro:components";
import { SP_API_URL } from "../constants";
import {Image} from 'astro:assets';
import wordmark from '../images/wordmark.png';

const profileURL = SP_API_URL + "/me";
const header =  `Bearer ${Astro.cookies.get("session")?.value}`;
console.log(header);
const profileRes = await fetch(profileURL, {
    headers: {
        Authorization: header
    }
});
/*
const resData = await profileRes.json();
*/
---
<style>
:root{
    --primary: 142 71% 45%;
    --background: 20 14% 4%;
    --foreground: 0 0% 95%;
    --card: 24 9% 10%
}

body {
    margin: 0px;
    color: hsl(var(--foreground));
}
.center-img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.wordmark {
    display:block;
    padding: 20px;
    margin: 0 auto;
}

.bg-card {
    background-color: hsl(var(--card));
}

.bg {
    background-color: hsl(var(--background));
}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg">
        <div class="header bg-card">
            <Image class="wordmark" src={wordmark} alt="Playtron"/>
        </div>
		<h1>Hello World</h1>
		<button >Connect to Spotify</button>
	</body>
</html>