---
---

<style>
    .root {
        display: grid;
        grid-template-columns: repeat(auto-fit, 100px);
        gap: 43px;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .root :global(.playlist-tile) {
        display: grid;
        grid-template-columns: 1fr;
        width: 100px;
        .text-area {
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
</style>

<div class="pad root" hx-get="/playlists?limit=20&trigger=revealed" hx-trigger="load">

</div>
