---
import { Image } from 'astro:assets';
interface Props {
    name: string;
    tracks: number;
    imageSrc: string;
}

const { name, tracks, imageSrc } = Astro.props;
// CHRISTIAN START HERE: clicking a tile should send a put to /playlists/<id>
---
<style>
    .root {
        display: grid;
        grid-template-columns: 1fr;
        width: 100px;
    }

    .text-area {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<script>
    const tiles = document.querySelectorAll("div.playlist-tile");

    tiles.forEach((tile) => {
        tile.addEventListener('click', () => {
            alert("tile was clicked");
        });
    });
</script>

<div class="root card playlist-tile">
    <Image
        src={imageSrc}
        alt=`Cover of playlist "${name}"`
        height={100}
        width={100} />
    <div class="text-area">
        <span>{name}</span>
        <br/>
        <span>{`${tracks} tracks`}</span>
    </div>
</div>
